body {
   color: #000;
   font-size: 12px;
   line-height: 1.4;
   font-family: 'Open Sans', sans-serif;
   max-width: 860px;
   background-color: #f0efef;
   margin: auto;
  }

header, div, article, aside, footer {
  float: left;
  background color: #f0efef;
  }

header {
  width: 30%;
  height: 50px;
  color: white;
  font-weight: 900px;
  background-color: #033048;
  font-size: 24px;
  padding-bottom: 80px;
  }

div {
  width: 70%;
  height: 50px;
  text-align: center;
  background-color: #033048;
  padding-bottom: 25px;
  padding-top: 55px;
  }

.about {
  margin: 20px;
  font-size: 20px;
  font-weight: 900;
  color: #f9e42e;
  text-decoration: none;
  }

.faq {
  margin: 20px;
  font-size: 20px;
  font-weight: 900;
  color: #f9e42e;
  text-decoration: none;
  }

.team {
  margin: 20px;
  font-size: 20px;
  font-weight: 900;
  color: #f9e42e;
  text-decoration: none;
  }

.contact {
  margin: 20px;
  font-size: 20px;
  font-weight: 900;
  color: #f9e42e;
  text-decoration: none;
  }

.blog {
  margin: 20px;
  font-size: 20px;
  font-weight: 900;
  color: #f9e42e;
  text-decoration: none;
  }

article {
  width: 73%
  }

aside {
  width: 23%;
  height: 50%;
  padding-left: 20px;
  font-size: 20px;
  color: #606161;
  }

.top-right-column {
  height: 400px;
}


img {
  width: 100%;
  }

footer {
  width: 100%
  }

h2,h3 {
  font-size:34px;
  color: #033048;
  font-weight: 550;
  }

h4,h5 {
  font-size:26px;
  color: #033048;
  font-weight: 900;
  margin-bottom: 0;
  }

.main-content {
  font-size: 20px;
  color: #606161;
  }

.begining-paragraph {
  font-size: 60px;
  font-weight: bold;
  float: left;
  padding-right: 10px;
  }

.read-more {
  font-size: 20px;
  font-weight: bold;
  color: #033048;
  padding-left: 500px;
  padding-bottom: 20px;
  border-bottom: solid;
  }

.learn-more {
  font-size: 20px;
  font-weight: 900;
  color: #033048;
  text-decoration: none;
  }

.bottom-article {
  margin-bottom: 100px;
  }

ul {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
  padding-top: 0;
  }

.about-right-column {
  margin: 0;
  }

  footer {
  background-color: black;
  text-align: center;
  color: white;
    }

  .footer-name {
  font-size: 24px;
  font-weight: 900;
  color: #f9e42e
  }

  .second-button {
  text-align: center;
  background-color: yellow;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  }

  .sign-up-now {
  background-color: #033048;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  border: 0px;
  padding: 1px 30px;
  padding-top:5px;
  padding-bottom:5px;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  }

  .icons {
    width: auto;
  }
